@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

/* Table CSS */

.custom-table-container {
  border: 1px solid #D6D6D7;
  border-radius: 20px;
  overflow-x: auto;

}

.border-radius-table-row td:first-child,
.border-radius-table-row th:first-child {
  border-radius: 10px 0 0 10px;
}

.border-radius-table-row td:last-child,
.border-radius-table-row th:last-child {
  border-radius: 0 10px 10px 0;
}